*{
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}


body{
	background-color: #222;
    color: white;
}

button{
	background-color: #859CD5;
	color: white;
	border: 0;
	padding: 8px 18px;

	cursor: pointer;
	overflow: hidden;

	font-size: 16px;
	font-weight: 500;
}

button:focus{ outline: none; }
button:hover{ background-color: #9B70DF; }
button:active{ background-color: #8559CD; }


