$break_small: 480px;


*{
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}


body{
	background-color: #222;
    color: white;
}

$color_main: #6ca141;

button{
	background-color: $color_main;
	color: white;
	border: 0;
	padding: 8px 26px;
    padding-bottom: 9px;

	cursor: pointer;
	overflow: hidden;

	font-size: 20px;
	font-weight: 500;
}

button:focus{ outline: none; }
button:hover{ background-color: lighten($color_main, 5%); }
button:active{ background-color: darken($color_main, 5%); }


