@import "Components/Pomodoro/Pomodoro.scss";
@import "Common/common.scss";

.wrapper{
    max-width: 1200px;
    padding: 0px 20px;
    margin: auto;
}

.header{
    padding: 20px 0px;

    .header__logo{
        display: block;
        width: 220px;
        height: 70px;
        padding-right: 5px;

        @media screen and (max-width: $break_small){
            margin: auto;
        }
    }
}

.main{
    width: 240px;
    margin: auto;

    text-align: center;

    //border: 1px solid #000;
}
