@import "Components/Pomodoro/Pomodoro.scss";
@import "Components/GTD/GTD.scss";
@import "Common/common.scss";

::-moz-selection { background-color: $color_main; color: #000; }
::selection {      background-color: $color_main; color: #000; }

.wrapper{
    max-width: 1200px;
    padding: 0px 20px;
    margin: auto;
}

.header{
    padding: 20px 0px;

    .header__logo{
        display: block;
        width: 220px;
        height: 70px;
        padding-right: 5px;

        @media screen and (max-width: $break_small){
            margin: auto;
        }

        opacity: 0.2;
        transition: all 0.2s;
        cursor: pointer;

        &:hover{
            -webkit-filter: grayscale(0%);
            opacity: 1;
        }
    }
}

.main{
    width: 300px;
    margin: auto;
    padding-bottom: 100px;

    text-align: center;

    //border: 1px solid #000;
}
